img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./assets/img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -100px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav.bg-dark{
  position: fixed;
  z-index: 2;
  width: 100%;
  /* margin-top: 20px!important; */
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.bg-dark{
  background-color: rgba(0, 0, 0, 0.8)!important;
}

.navbar-dark .navbar-brand{
  color: #17a2b8!important;
  font-size: 32px;
}
.nav-item{
  padding:5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 1s;
  font-size: 14px;
} 
.navbar-dark .navbar-nav .nav-link{
  color:rgb(241, 241, 241)
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
  color:#17a2b8;
  border-bottom: 1px solid #17a2b8;
  padding-bottom:5px;
}

.down_botton{
  position: fixed;
  bottom:5%;
  width: 100%;
  z-index: 9999999999999999999;
}
.contact_mobile{
  position: fixed;
  bottom:5%;
  left:5%;
  z-index: 9999999999999999999;
}
.brand_img{
  width: auto!important;
}
.profile_sidebar_text{
  color: black;
}
@media (max-width: 881px){
  .down_botton{
    bottom:8%;
  }
  .nav-item{
    padding-left: 1px;
    padding-right: 1px;
  }  
  .p-5 {
    padding: 1rem!important;
  }
  .contact_mobile{
    bottom:2%;
    width: 100%;
    margin-left: 0px; 
    left: 0%;   
  }
  .contact_mobile button:first-child{
    margin-right: 70px!important;
  }
  .landing .container h1{
    font-size: 2.3em;
    /* margin-top: -40px; */
  }
  .profile_sidebar_text{
    color: white;
  }
}
@media (max-width: 995px){
  nav .container{
    min-width: 100%!important;
  }
  .navbar-dark .navbar-brand{
    margin-left: 0px;
  }
}
@media (max-width: 1304px){
  nav .navbar-nav {
    margin-right: 0px;
  }
}


.sidebar_icon{
  width: 25px!important;
  height: 25px!important;
  margin-right: 15px;
}
.makeStyles-itemLink-15{
  display: flex!important;
}